*{
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    word-break: break-all;
}


:focus{
	outline: none;
}

nav ul {
    background-color: #999;
    list-style: none;
}
nav ul li {
    width: 30%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 20px;
}

.question {
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
}

.question-title {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.question-paper{
    color: #000000;
    font-weight: 600;
    margin-left: 20%;
    margin-right: 20%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}


.split {
    display: table;
    width: 100%;
    height: 100%;
}

.split-item {/*splitしたやつ全体に適応する設定*/
    display: table-cell;
    width: 50%;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

div.split-left, div.split-right {/*左側全体の設定*/
    background-color: #000000;
    color: white;
}

.split-left span, .split-left p, .split-right span, .split-right p {
    font-family: 'courier new', Futura, Helvetica, '游ゴシック', 'メイリオ', Osaka;
}

.split-left-inner, .split-right-inner{/*右側の中身の設定*/
    width: calc(100%-20px);
    padding: 14px;
    height: 600px;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 2px;
    overflow-y: scroll;
}


#console-left, .console-left, #console-right, .console-right, #console-opponent, .console-opponent {
    color: #7ffE7F;
    display: inline-block;
    margin-right: 6px;
}

#standard-input-left,#standard-input-right, .standard-input-left, .standard-input-right, #standard-input-opponent, .standard-input-opponent {
    font-family: 'courier new', Futura, Helvetica, '游ゴシック', 'メイリオ', Osaka;
    width: 97%;
    display: block;
    border: none;
    resize: none;
    background-color: #000000;
    color: white;
    font-size: 12pt;
    line-height: 1.4em;
    display: inline-block;
    vertical-align: middle;
}

.terminal {
    list-style: none;
}

.result {
    margin-left: 6px;
    display: block;
}
