<html>
    <body>
        <h1>edush</h1>
        <div id="log"></div>
        <form id="form">
            <input type="submit" value="Send" />
            <input type="text" id="msg" />
        </form>
    </body>
</html>

<script>
    var msg = document.getElementById("msg")
    document.getElementById("form").onsubmit = function() {
        if(!conn) {
            return false;
        }
        if(!msg.value) {
            return false;
        }
        conn.send(msg.value);
        msg.value = "";
        return false;
    }

    url = 'ws://'+document.location.host + "/ws";
    conn = new WebSocket(url);
    conn.onmessage = function(event){
        var messages = event.data.split('\n');
        for (var i=0; i< messages.length; i++) {
            var item = document.createElement("div");
            item.innerText = messages[i];
            log.appendChild(item);
        }
    }
</script>