<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Shell Game</title>
    <meta charset="utf-8">
    <script src="/assets/js/main.js" type="text/javascript"></script>
    <style rel="stylesheet" >
        @import url("assets/css/index.css");
    </style>
</head>
<body>
    <!-- <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Hoge</a></li>
        <li><a href="#">Fooo!!!!!!</a></li>
      </ul>
    </nav> -->

    <form method="POST" action="/join">
        <div>
            <label>
                ニックネーム
                <input type="text" name="name">
            </label>
        </div>
        <div>
            <label>
               合言葉
                <input type="text" name="room">
            </label>
        </div>
        <button type="submit">送信</button>
    </form>
</body>
</html>
